@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

:root {
  /* Font Families */
  --font-accent: 'Montez', ui-serif, Georgia, serif;
  --font-primary: 'Inter', sans-serif;

  /* Title Styles (How It Works?) */
  --fs-title: 48px;
  --fw-title: 400;
  --lh-title: 100%;
  --clr-title: #272727;

  /* Subtitle Styles (Plan your trip...) */
  --fs-sub: 18px;
  --lh-sub: 1.55;
  --clr-sub: rgba(39, 39, 39, 0.7);
  
  /* Brand Colors */
  --clr-accent: #1e659e;
}
